body {
    font-family: 'Dosis', sans-serif;
    background-color: rgba(37, 38, 39, 1);
    
}
.title{
    color: rgba(187, 10, 33, 1);
}

h1{
    font-size: 36px;
    color: rgba(187, 10, 33, 1);
}
a {
    text-decoration: none;
    color: rgba(255, 249, 251, 1);
} 
.text {
    color: rgba(255, 249, 251, 1);;
}