body {
    font-family: 'Dosis', sans-serif;
    background-color: rgba(37, 38, 39, 1);
}
.title{
    color: rgba(187, 10, 33, 1);
}

h1{
    font-size: 36px;
    color: rgba(187, 10, 33, 1);
    text-align: center;
    margin-bottom: 50px;
    border-bottom: 6px groove rgba(75, 136, 162, 1);
    border-top: 6px groove rgba(75, 136, 162, 1);
    padding-bottom: 40px;
    padding-top: 40px;
}
a {
    text-decoration: none;
    color: rgba(255, 249, 251, 1);

} 
.text {
    color: rgba(255, 249, 251, 1);
    list-style-position: inside; 
   
    
}
strong{
    color: rgba(75, 136, 162, 1);
}
.button{
    padding: 15px 20px;
    background-color: rgba(75, 136, 162, 1);
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
        
}

#foto{
    width: 300px;
    border-radius: 25%;
    border: 10px groove rgba(75, 136, 162, 1);
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    display: block;
}
.img-container{
    height: 80%;
}
#sobreMim{
    display: inline-block;
    margin-left: 5%;
    
    font-size: 30px;
}
.text-1 {
    display: inline-block;
    margin-left: 5%;
    color: rgba(255, 249, 251, 1);
    width: 65%;
    font-size: 20px;
    position: sticky;
     
}
.info{
    border-top: 6px groove rgba(75, 136, 162, 1);
    border-bottom: 6px groove rgba(75, 136, 162, 1);
    padding-bottom: 40px;
    padding-top: 40px;
    display: block;
    margin: 4em 0;
    position: sticky;
}
